.h4{
    font-family: Helvetica;
}

.container {
    background-color:rgba(255, 255, 255,1);
    border-radius: 20px;
    margin-top: 4%;
    padding: 0px !important; 
}

.back {
    height: 350px;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-image: url("pic2.png");

    margin: 0px !important;
    background-position: bottom;
    border-radius: 20px;
    opacity: 1;
}
h4.date{
    margin-top: 4px;
}

.cel {
    font-size: 70px;
    font-family: sans-serif !important;
    font-weight: bold;
    color :black ;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: -30px;
}

.cel2 {
    font-size: 20px;
    font-family: sans-serif !important;
    font-weight: bold;
    color :black ;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: -30px;
}

img.cicon {
    vertical-align: text-center;
   
}

.temp, .tempicon {
    padding-left: 0px;
    padding-right: 0px;
}

p.details {
    font-size : 15px;
    margin: 0px;
    font-weight: bold;
   
}
.form-control{
    border-radius: 10px 0px 0px 10px !important;
}
.search-btn{
    border-radius: 0px 10px 10px 0px !important;
}

.forcasticon {
    width : 100px;
}
.forcast{
    background-color: rgba(255, 255, 255,0.75);
    box-shadow: 1px 1px 4px gray;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}
.forcasttray{
    margin-top : 20px;
}

h4.text-center{
    line-height: 25px;
}
.search, .searchbtn{
    margin: 10px 0px 10px 0px;
    padding: 0px;
}

@media only screen and (max-width: 768px) {
    .container {
      margin: 0px 3%;
      box-sizing: border-box;
    }
    .cel, .tempicon, p.details{
        text-align: center !important;
    } 
    p.details {
        font-size:15px; 
    }

    .back {
        height: 320px;
    }

    h4.text-center{
        font-size: 15px;
    }
    .forcasttray{
        margin-top : 20px;
    }
    .forcasticon {
        width : 80px;
    }
    .forcastname {
        font-size: 15px;
    }
  }


  @media only screen and (max-width: 652px) {
    .forcasticon {
        width : 60px;
    }

    .forcastname {
        font-size: 13px;
    }
    .forcast{
        margin: 3px;
    }
   
  }

  @media only screen and (max-width: 500px) {

    .forcasticon {
        width : 45px;
    }
    .forcastname {
        font-size: 10px;
    }
    .forcast{
        margin: 0px 3px 0px 0px ;
    }
    .search, .searchbtn{
        margin: 20px 0px 10px 0px;
        padding: 0px;
    }
  }

  @media only screen and (max-width: 400px) {

    .forcasticon {
        width : 40px;
    }
    .forcastname {
        font-size: 9px;
    }
    .forcast{
        margin: 0px 3px 0px 0px ;
    }
    .back {
        height: 270px;
    }
    .search, .searchbtn{
        margin: 20px 0px 10px 0px;
        padding: 0px;
    }
    .search {
        margin-left: 3px !important;
    }
  }

